@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
  --font-size-paragraph: 15px;
  --font-family-base: "Outfit", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-paragraph);
  background-color: var(--color-slate-300);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 320px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  overflow: hidden;
}

.card img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.75em;
}

.card h1 {
  font-size: 1.5em;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate-900);
  margin-bottom: var(--card-gap);
}

.card p {
  color: var(--color-slate-500);
}
